.footer-text{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    text-align: center;

}
.footer-text1{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    color: #38bff2;

}